# A file that specifies which files and folders should be excluded from version control.

# Python
__pycache__/
*.py[cod]

# Virtual Environment
venv/
env/

# Docker
docker-compose.yml

# macOS
*.DS_Store

# Editors
.idea/
.vscode/
